.scroll-float {
    overflow: hidden;
    margin: 0;
    line-height: 1.2;
}

.scroll-float-text {
    display: inline-block;
}

.scroll-float .char {
    display: inline-block;
    transform-style: preserve-3d;
}